<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            background-color: aqua;
            color: blueviolet;
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Hi! I am welcome file</h1>
        <p> Something has changed!!!</p>
    </div>
</body>

</html>